{% extends 'base.html' %} {% block title %}Edit Profile{% endblock %} {% block
content %}

<form method="post">
    <h1
    align="left"
    class="card-header text-white"
    style="background: -webkit-linear-gradient(bottom, #ffffff, #ffffff)"
  >

      Edit Profile
    </h1>

    <div align="center">
      <br />

      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your full name"
        maxlength="30"
        style="width: 300px; text-align: center"
        value="{{ user.fullname }}"
      />

      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email address"
        maxlength="35"
        style="width: 300px; text-align: center"
        value="{{ user.email }}"
      />

      <label style="padding-top: 10px" for="age">Age</label>
      <select
        style="width: 300px; text-align: center"
        id="age"
        class="form-control"
        name="age"
        required
      >
        <option value="{{ user.age }}">{{ user.age }}</option>
        <option value="7-15_years">7-15_years</option>
        <option value="16-25_years">16-25_years</option>
        <option value="26+years">26+years</option>
      </select>

      <br />
      <button
        type="submit"
        class="btn btn-light"
        style="
          border-radius: 15px;
          background: -webkit-linear-gradient(top, #ffffff, #aab3ff);
        "
      >
        Update Profile
      </button>
    </div>
  </div>
</form>

{% endblock %}
