{% extends 'base.html' %} {% block title %}View Course Logs {% endblock %} {%
block content %}
<h1
  align="left"
  class="card-header text-white"
  style="background: -webkit-linear-gradient(bottom, #ffffff, #ffffff)"
>
  <span
    class="typer"
    id="main"
    data-words="Hi ,  {{user.fullname }}____ , Analyse your logs and increase your productivity"
    data-delay="70"
    data-deleteDelay="12"
    style="font-size: 40px"
  ></span>
  <span class="cursor" data-owner="main"></span>
</h1>

<div class="container emp-profile shadow-lg" style="padding-top: 30px">
  <form method="post">
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="home-tab2"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Comment Logs</a
        >
      </li>
    </ul>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Course Start On</th>
          <th scope="col">Rating</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %} {% if log.user_id==user.id and
        log.course_id==course.id %}
        <tr>
          {% set log_id=log.id %}
          <td>{{log.timestamp}}</td>
          <td>{{log.value}}</td>
          <td>{{log.notes}}</td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="
                  border-radius: 15px;
                  background: -webkit-linear-gradient(bottom, #ffffff, #aab3ff);
                "
              >
                <b>Actions</b>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item"
                  href="{{ url_for('views.edit_log', record_id = log_id) }}"
                  >Edit Log</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('views.delete_log', record_id = log_id) }}"
                  >Remove Log</a
                >
              </div>
            </div>
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>

    <!--                -->
    {% set course_id=course.id %}
    <div align="center">
      <a
        href="{{ url_for('views.add_log', record_id = course_id) }}"
        class="btn btn-light"
        style="
          border-radius: 15px;
          background: -webkit-linear-gradient(bottom, #ffffff, #aab3ff);
        "
        ><b>Add New Log</b></a
      >
    </div>
  </form>
</div>
{% endblock %}
